.product-card {
  display: flex;
  padding: 140px 0;
  padding-bottom: 0;
  margin: 0 auto;
  width: fit-content;

  @media (max-width:1100px) {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.product-card__img-container {
  max-width: 630px;
  max-height: 647px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:1100px) {
    max-width: 678px;
    max-height: 470px;  
  }
  @media (max-width:700px) {
    max-height: 350px;  
  }
  @media (max-width:350px) {
    max-height: 290px;  
  }
}
.product-card__img {
  width: 100%;
  // height: 647px;
}
.product-card__content {
  max-width: 370px;
  margin-left: 70px;
  @media (max-width:1100px) {
    margin-left: 0px;
    max-width: 678px;
  }
}
.product-card__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 125%; 

  margin: 30px 0 0;
}
.product-card__subtitle {
  color: #9A9DA0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;

  margin: 15px 0 0;
}
.product-card__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; 

  margin: 40px 0;

  width: 300px;
  @media (max-width:1100px) {
    width: unset;
  }
}
.product-card__button {
  border: none;
  background: unset;
  font-size: 27px;
  font-weight: 300;

  cursor: pointer;

}
.product-card__button_rotated {
  transform: rotateZ(45deg);
  transition: rotate ease 1s;
}
.product-card__added-info {
  height: 0;
  overflow: hidden;
}
.product-card__added-info_opened {
  height: max-content;
  margin: 0 0 20px;
}
.product-card__container-s {
  @include container-flex-row;
}
.product-card__volum-choise {
  border: none;
  margin: 40px 0;
  padding: 0;
}
.product-card__price {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;

  margin: 0;
}